.fork {
  background-image: url("/src/img/Layer 2 (2).png");
  background-size: cover;

  &__title {
    color: $forkTextColor;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 42px;
    margin-bottom: 32px;
  }

  &__block {
    &-item {
      width: 257px;
      height: 457px;
      background: $forkBackCardColor;
      margin: 0 auto 18px;

      &-up {
        height: 97px;
        background-color: $forkBackCardColor;

        .fork__block-item-title {
          text-align: center;
          padding-top: 37px;
          color: $forkTextColor;
          @include forkCardTitleColor;
        }
      }

      .fork__block-item-span {
        display: flex;
        flex-direction: column;

        .span-price {
          color: $forkTextColor;
          text-align: center;
          font-style: normal;
          font-weight: normal;
          font-size: 60px;
          line-height: 62px;
          margin: 30px 0 20px;
        }

        .span-period {
          color: $forkTextColor;
          @include forkSpanPeriodFont;
        }

        .span-period:after {
          content: "";
          width: 60px;
          height: 5px;
          background-color: #8d81ac;
          margin: 38px auto 30px;
          display: block;
        }

        .span-license {
          color: $forkTextColor;
          @include forkCardTextFont;
        }
      }

      .fork__block-item-btn {
        width: 163px;
        height: 45px;
        background-color: $forkBackCardColor;
        border-color: $forkBackCardColor;
        border-radius: 30px;
        margin: 37px 48px;

        .span-btn {
          color: $forkTextColor;
          text-transform: uppercase;
          font-style: normal;
          font-weight: normal;
          font-size: 15px;
          line-height: 15px;
        }
      }
    }

    .fork__block-active {
      width: 299px;
      height: 560px;
      background-color: $forkBackCardActiveColor;
      margin: 0 auto 18px;

      &-up {
        height: 111px;
        background-color: #3b2b42;

        .fork__block-active-title {
          color: $forkTextColor;
          @include forkCardTitleColor;
          text-align: center;
          padding-top: 43px;
        }
      }

      .fork__block-active-span {
        display: flex;
        flex-direction: column;

        .active-price {
          color: $forkTextColor;
          text-align: center;
          font-style: normal;
          font-weight: normal;
          font-size: 82px;
          line-height: 84px;
          margin: 14px 0 16px;
        }

        .active-period {
          color: $forkTextColor;
          @include forkSpanPeriodFont;
        }

        .active-period:after {
          content: "";
          width: 60px;
          height: 5px;
          background-color: #8d81ac;
          margin: 46px auto 40px;
          display: block;
        }

        .active-license {
          color: $forkTextColor;
          @include forkSpanActiveFont;
        }
      }

      .fork__block-active-btn {
        width: 190px;
        height: 52px;
        background-color: rgba(255, 255, 255, 0.07);
        border-color: rgba(255, 255, 255, 0.07);
        border-radius: 30px;
        margin: 70px 55px;

        .active-btn {
          color: $forkTextColor;
          text-transform: uppercase;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 18px;
        }
      }
    }
  }
}

@media screen and(min-width: 480px) {
  .fork__title {
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 44px;
    padding-top: 83px;
    margin: 0 auto 37px;
  }

  .container-media {
    width: 600px;
    margin: 0 auto;
  }

  .fork__block {
    max-height: 1076px;
    display: grid;
    padding-bottom: 100px;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    //margin: 0 90px 0 80px;

    //.block-media {
    //  display: flex;
    //  justify-content: space-between;
    //  align-items: center;
    //}

    .fork__block-active {
      //margin: 12px 25px 94px 0;
      margin-right: 35px;
      margin-left: 0;
    }

    .fork__block-item:last-child {
      margin-top: 50px;
    }
  }
}

@media screen and (min-width: 992px) {
  .container-media {
    width: 1200px;
  }

  .fork__block {
    display: flex;
    margin: 0 auto;

    &-item {
      margin-right: 15px;
      margin-top: 50px;
      margin-left: 0;
    }

    &-active {
      margin-right: 15px;
    }

    &-item:last-child {
      margin-left: -10px;
    }
  }
}
