$mainColor: rgba(141, 129, 172, 1);
$minWidthContent: 320px;
$hoverColor: #fff;
$hereTitleColor: #8D81AC;
$hereBlockTitleColor: #323232;
$hereBlockTextColor: #848E97;
$forkTextColor: #FFFFFF;
$hereBackGroundColor: #F4F4F4;
$forkBackCardColor: rgba(255, 255, 255, .06);
$forkBackCardActiveColor: #463048;